<h1>Call Report Creation</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/restaurant/create">Restaurant Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/register">Manager Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurant/find">Edit Restaurant Details</a>
  </li>
</ul>

<form method="POST" action="/restaurant/confirmation">
<div class="form-group row">
    <label for="buyerName" class="col-sm-2 col-form-label">Buyer Name:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="buyerName" id="buyerName" required>
    </div> 
</div>


<div class="form-group row">
    <label for="adminName" class="col-sm-2 col-form-label">Admin Name:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="adminName" id="adminName" required>
    </div> 
</div>

<div class="form-group row">
    <label for="callDate" class="col-sm-2 col-form-label">Call Date</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="callDate" id="callDate" required>
    </div> 
</div>





<div class="form-group row">
    <label for="quickNotes" class="col-sm-2 col-form-label">Quick Notes:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="QuickNotes" id="QuickNotes" required>
    </div> 
</div>



<div class="form-group row">
    <label for="Report" class="col-sm-2 col-form-label">Full Report:</label>
        <input type="text" class="form-control" name="Report" id="Report" required>
    </div> 
</div>


<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

<div class="form-group row">
  <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" name="createRepButton" id="createRepButton" onclick="return restaurantTimeslotCheck()">Create Report</button>
  </div>
</div>

</form>